:root {
  --header-background-color: #FFFFFF;
  --basic-color-text: #212121;
  --secondary-color-text: #757575;
  --basic-main-background-color: #E5E5E5;
  --secondary-main-background-color: #F5F4FA;
  --hero-footer-background-color: #2F303A;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--basic-color-text);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background: var(--secondary-main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.logo, .logo__web {
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway";
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__web {
  color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: auto;
  min-height: auto;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover > .btn-close__icon, .btn-close:focus > .btn-close__icon {
  fill: #2196F3;
}

.container-formular {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.container-formular__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
}
@media screen and (min-width: 1200px) {
  .container-formular__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}

.label-buy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color-text);
}
.label-buy__input {
  position: relative;
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-buy__container {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
  width: 100%;
}
.label-buy__textarea {
  font-size: 12px;
  line-height: 1.17;
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-top: 4px;
  resize: none;
  letter-spacing: 0.01em;
  color: var(--basic-color-text);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.label-buy__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label-buy__icon {
  display: flex;
  position: absolute;
  top: 50%;
  margin-left: 20px;
  transform: translate(-50%, -50%);
  fill: var(--basic-color-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-buy__input:focus {
  border-color: #2196F3;
}
.label-buy__input:focus + .label-buy__icon {
  fill: #2196F3;
}
.label-buy__textarea {
  outline: transparent;
}
.label-buy__textarea:focus {
  border-color: #2196F3;
}

.container-modal-checkbox {
  padding-left: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-left: 38px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__link {
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__icon {
  margin-left: -23px;
  position: absolute;
  width: 16px;
  height: 15px;
  margin-right: 8.4px;
  border: 2px solid var(--basic-color-text);
  border-radius: 2px;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--header-background-color);
}
.checkbox__input:checked ~ .checkbox__icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}
.checkbox__input:focus ~ .checkbox__icon {
  border-color: #2196F3;
}
.checkbox__input:checked:focus ~ .checkbox__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
  background-color: var(--header-background-color);
}
.section-header__logo {
  margin-right: 90px;
}
@media screen and (min-width: 1200px) {
  .section-header {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.logo--header-color {
  color: var(--basic-color-text);
}

.section-header__container {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    list-style: none;
    align-items: center;
  }
}
.header-list__item {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
}
.header-list__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__item:hover::after {
  opacity: 1;
}
.header-list__item:not(:last-child) {
  margin-right: 50px;
}
.header-list__link:hover, .header-list__link:focus {
  color: #2196F3;
  fill: #2196F3;
  outline: transparent;
}
.header-list__link.current::after {
  position: absolute;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 2px;
  background: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-list__link.current::after {
    bottom: -28px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list__link.current::after {
    bottom: -39.5px;
  }
}

.structure__header-list {
  margin-left: auto;
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: 58px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    margin-left: auto;
    display: flex;
    list-style: none;
    align-items: center;
  }
}
.contact-list__mail, .contact-list__tel {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color-text);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact-list__mail, .contact-list__tel {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__mail, .contact-list__tel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}
.contact-list__mail:hover, .contact-list__mail:focus, .contact-list__tel:hover, .contact-list__tel:focus {
  color: #2196F3;
}
.contact-list__mail {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}
.contact-list__icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.contact-list__mail:hover .contact-list__icon, .contact-list__mail:focus .contact-list__icon, .contact-list__tel:hover .contact-list__icon, .contact-list__tel:focus .contact-list__icon {
  fill: #2196F3;
  outline: transparent;
}
.contact-list__tel {
  display: flex;
  flex-direction: row-reverse;
}
.contact-list__button {
  display: block;
  margin-left: auto;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .contact-list__button {
    display: none;
  }
}

.current {
  color: #2196F3;
}

.mobile-menu {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  padding-top: 10;
  padding-bottom: 10px;
  z-index: 1;
}
.mobile-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
.mobile-menu__button {
  display: block;
  margin-left: auto;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}
.mobile-menu__button:hover, .mobile-menu__button:focus {
  fill: #2196F3;
  outline: transparent;
}
.mobile-menu__list {
  list-style: none;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mobile-contact-list {
  list-style: none;
}
.mobile-contact-list__item:first-child {
  margin-bottom: 32px;
}
.mobile-contact-list__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-contact-list__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.actual {
  color: #2196F3;
}

.mobile-soc-list {
  display: flex;
  margin-top: 64px;
  list-style: none;
}
.mobile-soc-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-soc-list__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-soc-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-soc-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-soc-list__text {
  margin-right: 10px;
  margin-left: 10px;
}

.section-hero {
  background-size: cover;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
    max-width: 1600px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
  }
}
.section-hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.section-hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .section-hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    width: 696px;
  }
}

.structure-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.features-list .features-list__container {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-main-background-color);
  align-items: center;
}
.features-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color-text);
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}

.section-work {
  padding-bottom: 94px;
  background-color: var(--header-background-color);
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}
.section-work__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
}

.work-list {
  list-style: none;
  display: flex;
}
.work-list__item:nth-child(n+2) {
  margin-left: 30px;
}
.work-list__item {
  position: relative;
}
.work-list__text {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  padding-bottom: 27px;
  padding-top: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--header-background-color);
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-main-background-color);
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-team__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.section-team__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.section-team__item {
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .section-team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__item {
    width: calc((100% - 90px) / 4);
  }
}

.card {
  text-align: center;
}
.card__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
}
.card__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
.card__link {
  margin-top: 16px;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover {
  background-color: #2196F3;
}
.card__link:focus {
  background-color: #2196F3;
  outline: transparent;
}
.card__link:hover .card__icon, .card__link:focus .card__icon {
  fill: var(--header-background-color);
}

.structure-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-clients__title {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .section-clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover, .clients-list__item:focus {
  border: 1px solid #2196F3;
}
.clients-list__link:hover {
  fill: #2196F3;
}
.clients-list__link:focus {
  fill: #2196F3;
  outline: 1px solid #2196F3;
}
.clients-list__item:hover .clients-list__link {
  fill: #2196F3;
}
.clients-list__item:focus .clients-list__link {
  fill: #2196F3;
  outline: transparent;
}

.footer {
  background-color: var(--hero-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-adress {
    min-width: 232px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    min-width: 231px;
    text-align: left;
  }
}
.footer-adress__location {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer-adress__location {
    margin-bottom: 9px;
  }
}

.logo--footer-color {
  color: var(--header-background-color);
}

.footer-list {
  list-style: none;
}
.footer-list__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-list__item {
    margin-bottom: 9px;
  }
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .container-join {
    min-width: 206px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .container-join {
    min-width: 206px;
    margin-left: 70px;
  }
}
.container-join__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .container-join__text {
    text-align: left;
  }
}

.join-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list__link:hover {
  background-color: #2196F3;
}
.join-list__link:focus {
  background-color: #2196F3;
  outline: transparent;
}

.join-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.join-list__item {
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join-list__item {
    margin-bottom: 30px;
  }
}

.join-list__icon {
  fill: var(--header-background-color);
}

@media screen and (min-width: 1200px) {
  .form-subscribe__container {
    display: flex;
    margin-top: 20px;
    height: 50px;
    margin-left: 93px;
  }
}

.form-subscribe {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form-subscribe {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    min-width: 570px;
  }
}

.form-subscribe__label {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.form-subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-footer-background-color);
}
@media screen and (min-width: 768px) {
  .form-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    padding-left: 16px;
    width: 358px;
  }
}

.form-subscribe__input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subcribe_container-button {
  display: flex;
  text-align: center;
  justify-content: center;
}

.form-subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  cursor: pointer;
}

.form-subscribe__button:hover,
.form-subscribe__button:focus {
  background-color: #188CE8;
}

.form-subscribe__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .form-subscribe__text {
    margin-left: 93px;
    text-align: left;
  }
}

.form-subscribe__icon {
  margin-left: 10px;
}

.btn-list {
  background-color: var(--header-background-color);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}
.btn-list__button {
  padding: 6px 22px 6px 22px;
  max-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
  background: var(--secondary-main-background-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  display: flex;
  letter-spacing: 0.03em;
  color: var(--basic-color-text);
  transition-property: background-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__button:hover {
  background-color: #2196F3;
  color: var(--header-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list__button:focus {
  background-color: #2196F3;
  color: var(--header-background-color);
  outline: transparent;
}

.section-projects {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .section-projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.project-list {
  list-style: none;
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-list__item:hover .project-wrap__text {
  transform: translateY(0%);
}
.project-list__item:hover, .project-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__item {
  width: 100%;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc((100% - 60px) / 3);
  }
}
.project-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.project-wrap {
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}
.project-wrap__text {
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-text-card {
  flex-grow: 1;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.section-text-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color-text);
}
.section-text-card__work {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}/*# sourceMappingURL=main.css.map */