.section-team {
        padding-top: 60px;
        padding-bottom: 60px;
    
        @include desktop {
             padding-top: 94px;
             padding-bottom: 94px;
        }

    background-color: var(--secondary-main-background-color);
    &__title {
            margin-bottom: 30px;
            text-align: center;
            @include font(28px, null, 1.18);

            @include desktop {
                @include font(36px, null, 1.17);
                margin-bottom: 50px;
            }
            

            letter-spacing: 0.03em;
            color: var(--basic-color-text);
        }

    &__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

        }

    &__item {
            margin-bottom: 30px;

            @include tablet {
            width: calc((100% - 30px) / 2);
            }
            @include desktop {
            width: calc((100% - 90px) / 4);
            }
            // width: 270px;
            // height: 92px;

    
            background-color: var(--header-background-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
}

.card {
    text-align: center;
    &__title {
            margin-bottom: 10px;

            @include font(16px, 500, 1.19);


            letter-spacing: 0.03em;
            color: var(--basic-color-text);
        }
    
    &__list {
            list-style: none;
            display: flex;
            justify-content: center;
        }
    &__text {
    @include font(16px, 400, 1.19);

    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}

    &__link {
    margin-top: 16px;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &__icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


    &__link:hover {
    background-color: #2196F3;
}

    &__link:focus {
    background-color: #2196F3;
    outline: transparent;
}

    &__link:hover .card__icon,
    &__link:focus .card__icon {
    fill: var(--header-background-color);
}
}

.structure-card {
    padding-top: 30px;
    padding-bottom: 30px;
}



