.btn {
    @include font(16px, 700, 1.88);
    min-width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;

    text-align: center;
    cursor: pointer;
    background: var(--secondary-main-background-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
        background-color: #188CE8;
        }
}