.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
    &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;


    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;


    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

}


.btn-close__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .btn-close:hover > &,
    .btn-close:focus > & {
        fill: #2196F3;
    }
}




.container-formular {

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    &__text {
        @include font(20px, 700, 1.15);
        margin-bottom: 12px;

        text-align: center;
        letter-spacing: 0.03em;
        color: var(--basic-color-text)
        }

}

.label-buy {
&__input {
        position: relative;
        width: 100%;
        padding-left: 42px;

        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;


        outline: transparent;

        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        &__container {
            display: flex;
    
            position: relative;
    
            margin-bottom: 10px;
            margin-top: 4px;
    
            width: 100%;
        }
        &__textarea {
            @include font(12px, null, 1.17);
            width: 100%;
            height: 120px;
            padding: 12px 16px 12px 16px;
            margin-top: 4px;
        
            resize: none;
            letter-spacing: 0.01em;
            color: var(--basic-color-text);
        
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            }
        
            &__textarea::placeholder {
            @include font(12px, null, 1.17);
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
            }
        
        
            &__icon {
            display: flex;
            position: absolute;
            top: 50%;
            margin-left: 20px;
        
            transform: translate(-50%, -50%);
        
            fill: var(--basic-color-text);
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
                &__input:focus {
                    border-color: #2196F3;
                }
        
                &__input:focus + &__icon {
                    fill: #2196F3;
                }
        
        
        
                &__textarea {
                    outline: transparent;
                }
        
                &__textarea:focus {
                    border-color: #2196F3;
                }

    @include font(12px, null, 1.17);
    letter-spacing: 0.01em;
    color: var(--secondary-color-text)
}

.container-modal-checkbox {
    padding-left: 14px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 38px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;

    @include font(14px, null, 1.71);
    letter-spacing: 0.03em;
    color: #757575;
    &__link {
        margin-left: 5px;
        @include font(14px, null, 1.71);
        letter-spacing: 0.03em;
        color: #2196F3;
    
    }
}

.checkbox__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

    @include font(14px, null, 1.71);
    letter-spacing: 0.03em;
    color: #757575;
}

.checkbox__icon {
    margin-left: -23px;
    position: absolute;
    width: 16px;
    height: 15px;
    margin-right: 8.4px;
    border: 2px solid var(--basic-color-text);
    border-radius: 2px;
    transition-property: background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--header-background-color);
    .checkbox__input:checked ~ & {
            border-color: #2196F3;
            background-color: #2196F3;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
        }
    
        .checkbox__input:focus ~ & {
            border-color: #2196F3;
        }
    
        .checkbox__input:checked:focus ~ & {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
        }
}
