:root {
    --header-background-color: #FFFFFF;
    --basic-color-text: #212121;
    --secondary-color-text: #757575;
    --basic-main-background-color: #E5E5E5;
    --secondary-main-background-color: #F5F4FA;
    --hero-footer-background-color: #2F303A;
}